@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: url(./Cristiano-Ronaldo-calm-down-wallpaper-1680x1050.jpg) no-repeat;
    background-size:cover;

}

.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50px,-50px);
    color: whitesmoke;
}
/* .login-box h1{
    
    border-buttom:6px solid #4caf50;
    border-buttom:6px solid #4caf50;
} */

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}
.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid;
}

.textbox input{
 border: none;
 outline: none;
 background: none;
 color:white;
 font-size: 20px;
 width:-50px;
 float: right;
 margin:10px;

}

.LOGIN{
 /* width: 100px; */
 background: none;
 /* border: 0.5px solid whitesmoke; */
 /* color:white; */
 /* padding: -0.1px;
 font-size: 17px; */
 cursor:pointer;
 background-clip: padding-box;
}

.a{
    position: relative;
    cursor: pointer;
    text-align: justify;
    font-size: xx-small;
}




